.city-div {
  min-height: 100vh;
  overflow: hidden;
  .city-nav {
    position: fixed;
    top: 0;
    padding-top: 44px;
    z-index: 3;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  .city-current {
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 88px 24px 20px;
    left: 0;
    right: 0;
    z-index: 2;
    > div {
      font-size: 14px;
      &:nth-child(1) {
        display: flex;
        align-items: center;
        color: #999;
        img {
          width: 16px;
          height: 16px;
          margin-left: 5px;
        }
      }
      &:nth-child(2) {
        margin: 10px 0 0 10px;
        span {
          padding: 4px 20px;
          border-radius: 14px;
          border: 1px solid #eee;
          height: 20px;
          line-height: 20px;
        }
      }
    }
  }
  .city-list-load {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .city-list {
    padding-top: 156px;
    height: calc(100vh - 156px);
    width: 100%;
    overflow-y: scroll;
    .city-index-div {
      width: 28px;
      position: fixed;
      right: 0;
      top: 60%;
      transform: translateY(-50%);
      z-index: 98;
      text-align: center;
      .city-index,
      .city-index-active {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 600;
        color: #999999;
      }
      .city-index-active {
        position: relative;
        width: 24px;
        height: 24px;

        &:before {
          content: "";
          width: 24px;
          height: 24px;
          background: #2cd8aa;
          border-radius: 12px;
          position: absolute;
          z-index: 22;
          top: 0px;
          left: 50%;
          transform: translateX(-50%);
        }

        .city-number-active {
          position: relative;
          z-index: 999;
          font-weight: 600;
          color: #ffffff;
        }
      }
    }
    .city-list-div {
      position: relative;
      .city-list-item {
        .list-item-index {
          font-size: 14px;
          padding: 10px 24px;
          background-color: #eee;
        }
        .list-item-text {
          padding: 15px 20px;
          font-size: 16px;
          background-color: #fff;
          border-bottom: 1px solid #eee;
        }
        .list-item-hot {
          display: flex;
          background-color: #fff;
          align-items: center;
          flex-wrap:wrap ;
          margin-bottom:10px;
          >div {
            padding: 5px 20px;
            font-size: 16px;
            border: 1px solid #eee;
            border-radius: 15px;
            margin: 10px 0 0 10px ;
            
          }
        }
      }
    }
  }
}
